@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.logo {
  font-family: "Luckiest Guy", cursive;
}

.logo-size {
  font-size: 20px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.float-to-right {
  position: fixed !important;
  right: 1rem;
}
